/* General */
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing:
    inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Nunito Font */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/**/

#desc {
  margin-top: 20px;
  white-space: pre-wrap;
}



#testInput {
  color: #000;
}

body {
  background: #181818;
  border: 1px solid #181818;
}

#header {
  z-index: 10;
  display: block;
  position: fixed;
  height: 32px;
  width: 100%;
  background-color: #222222;
  box-shadow: 0px 3px 6px #0000002a;
}

#main {
  margin-top: 32px;
  height: calc(100% - 32px);
  display: block;
  padding: 20px;
  overflow: auto;
}

#titlebar {
  width: 100%;
  height: 100%;
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: min-content;

}

#window-title {
  margin-left: 10px;
  grid-column: 1;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#atlas-logo {
  margin-right: 10px;
  height: 32px;
  width: 32px;
  background-color: #EB2828;
  align-content: center;
  justify-content: center;
}

#atlas-logo .icon {
  width: 24px;
  height: 24px;
  margin: 4px;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

#window-controls .icon {
  width: 12px;
  height: 12px;
}

/**/

#window-controls .button:hover {
  background: #ffffff31;
}

#window-controls .button:active {
  background: #ffffffb6;
}

#close-button:hover {
  background: #EB2828 !important;
}

#close-button:active {
  background: #F1707A !important;
}

/**/

#window-controls .button:active .icon {
  filter: invert(1);
}

/**/

#min-button {
  grid-column: 1;
}

#max-button,
#restore-button {
  grid-column: 2;
}

#close-button {
  grid-column: 3;
}

/**/

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

/*    Spell css   */

#spell {
  width: 400px;
  margin-top: 24px;
  overflow: hidden;
}

#test-spell {
  height: 100%;
  display: inline-grid;
}

#spell-name-div {
  height: 24px;
  border: 2px;
  border-radius: 15px;
  border-style: solid;
  display: flex;
  /*  border-color:   {color}   [REACT] */
  /*  color:          {color}   [REACT] */
}

#spell-level {
  width: 16px;
  height: 16px;
  /*  color:              {color}   [REACT] */
  /*  background-color:   {color}   [REACT] */
  position: relative;
  margin: 2px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
  justify-content: center;
  text-align: center;
}

#spell-name {
  position: relative;
  padding-left: 24px;
}

#spell-school {
  position: relative;
  font-weight: 200;
  font-size: 12px;
  margin-right: 8px;
  text-align: right;
  align-self: center;
  margin-left: auto;
}

#spell-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 200;
}

#spell-description {
  margin-top: 10px;
  padding-top: 4px;

  border-top: 2px solid;
  /*  border-color:   {color}   [REACT] */
}

#spell-higher-level {
  margin-top: 8px;
  padding-top: 8px;
  font-style: italic;
  font-weight: 200;

  border-top: 1px solid;
  /*  border-color:   {color}   [REACT] */
}

/*  Custom Scrollbar   */
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}